
{% assign margin 			= block.settings.margin | split: "|" %}
{% assign padding 			= block.settings.padding | split: "|" %}
<style>
  {%- if margin[0] != blank or padding[0] != blank -%}
	#shopify-block-{{ block.id }} .wpbingo-widget--countdown{
		{%- if margin[0] != blank -%}margin: {{ margin[0] }};{%- endif -%}
		{%- if padding[0] != blank -%}padding:{{ padding[0] }};{%- endif -%}
	}
{%- endif -%}
{%- if margin[1] != blank or padding[1] != blank -%}
	@media (max-width:1199px){
		#shopify-block-{{ block.id }} .wpbingo-widget--countdown{
			{%- if margin[1] != blank -%}margin: {{ margin[1] }};{%- endif -%}
			{%- if padding[1] != blank -%}padding:{{ padding[1] }};{%- endif -%}
		}
	}
{%- endif -%}
{%- if margin[2] != blank or padding[2] != blank -%}
	@media (max-width:991px){
		#shopify-block-{{ block.id }} .wpbingo-widget--countdown{
			{%- if margin[2] != blank -%}margin: {{ margin[2] }};{%- endif -%}
			{%- if padding[2] != blank -%}padding:{{ padding[2] }};{%- endif -%}
		}
	}
{%- endif -%}
{%- if margin[3] != blank or padding[3] != blank -%}
	@media (max-width:767px){
		#shopify-block-{{ block.id }} .wpbingo-widget--countdown{
			{%- if margin[3] != blank -%}margin: {{ margin[3] }};{%- endif -%}
			{%- if padding[3] != blank -%}padding:{{ padding[3] }};{%- endif -%}
		}
	}
{%- endif -%}
</style>
{% content_for "block", type: "custom-countdown", id: "custom-countdown" %}
<div class="wpbingo-block wpbingo-widget--countdown wpbingo-block--{{ block.id }}">
    <div class="wpbingo-section__content {{block.settings.layout}}">
          {% content_for "blocks" %}
    </div>
</div>
{% schema %}
  {
    "name": "Countdown",
    "blocks": [{ "type": "_countdown" }],
    "settings": [
         {
			"type": "textarea",
			"id": "padding",
			"label": "Padding",
			"placeholder": "0px 0px 0px 0px",
			"info":"Screen: desktop | 1200px | 991px | 767px"
		},
		{
			"type": "textarea",
			"id": "margin",
			"label": "Margin",
			"placeholder": "0px 0px 0px 0px",
			"info":"Screen: desktop | 1200px | 991px | 767px"
		},
		{
  			"type": "select",
			"id": "layout",
			"label": "List style",
			"options": [
                {
					"value": "layout-1",
					"label": "Layout 1"
				},
                {
					"value": "layout-2",
					"label": "Layout 2"
				}
            ]
        }
    ],
    "presets": [
        {
            "name": "Countdown",
            "blocks": [
              {
                  "type": "_countdown",
              }
           ]
        }
    ]
  }
{% endschema %}